# Compilation artifacts
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class

# Leiningen
/.lein-*

# REPL
/.nrepl-port
.nrepl-history

# deps.edn
/.cpcache

# Development tools
/.clj-kondo
/.lsp
/.calva

# Project specific
/frames
/image

